body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  position: relative;
  height: 100vh;
  width: 100%;
}
header {
  display: flex;
  position: fixed;
  height: 4rem;
  width: 100%;
  background: white;
  line-height: 4rem;
}
header > * {
  display: inline-block;
}
header .header--tabname {
  font-size: 1.6rem;
  padding-left: 1.3rem;
}

.header--search,
.header--friend--plus,
.header--talk-plus,
.header--setting {
  display: inline-block;
  width: 3rem;
  font-size: 0;
}

.header--menus i {
  position: relative;
  top: .6rem;
  left: -.8rem;
  font-size: 1.3rem;
}

.header--talk-plus--icon::after {
  content: "+";
  position: absolute;
  top: 0.3rem;
  left: 1rem;
  line-height: .6rem;
  font-size: 1rem;
  background: white;
}

.header--menus {
  flex: 1;
  text-align: right;
  font-size:0;
  padding-right: 1rem;
}

.tab {
  position: absolute;
  width:100%;
  height: 4rem;
  background-color: RGBA(250, 250, 250, 1);
  bottom: 0;
  font-size: 0;
}

.tab > label {
  display: inline-block;
  position: relative;
  width: 25%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 1.6rem;
}
.tab input {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
}

content {
  display: inline-block;
  height: calc(100vh - 8rem);
  width: 100%;
  margin-top: 4rem;
}


.page-friend,
.page-talk,
.page-star,
.page-setting {
  position: absolute;
  width: 100%;
  transform : translateY(200vh);
}

.tab--friend:checked ~ .page-friend,
.tab--talk:checked ~ .page-talk,
.tab--star:checked ~ .page-star,
.tab--setting:checked ~ .page-setting {
  transform : translateY(-100vh);
}

@media (min-width: 480px) {
  .app {
    width: 299px;
    height: 626px;
    margin: 0 auto;
  }
  .app:before {
    content: "";
    position: absolute;
    width: 423px;
    height: 718px;
    top: -4rem;
    left: -2.1rem;
    background-image: url(./images/iphone-front.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .tab--friend:checked ~ .page-friend,
  .tab--talk:checked ~ .page-talk,
  .tab--star:checked ~ .page-star,
  .tab--setting:checked ~ .page-setting {
    transform : translateY(-626px);
  }

  content {
    height: calc(626px - 8rem);
  }
}