@keyframes fadein {
  from { 
    transform: translateY(3vh);
    opacity: 0.5;
  }
  to { 
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  display: flex;
}

.app {
  position: relative;
  height: 100%;
  width: 100%;
}
header {
  display: flex;
  height: 3rem;
  width: 100%;
  background: white;
  line-height: 3rem;
  -webkit-transform: translateZ(0);
}
header > * {
  display: inline-block;
}
.header--tabname {
  flex: 1;
  font-size: 1.2rem;
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header--search,
.header--friend--plus,
.header--talk-plus,
.header--setting,
.header--menu {
  display: inline-block;
  width: 2.2rem;
  font-size: 0;
}

.header--menus i {
  position: relative;
  top: .3rem;
  left: -.2rem;
  font-size: 1.0rem;
}

.header--talk-plus--icon::after {
  content: "+";
  position: absolute;
  top: 0.08rem;
  left: 0.75rem;
  line-height: .14rem;
  font-size: 0.75rem;
  background: white;
}

.header--menus {
  text-align: right;
  font-size:0;
  padding-right: 1rem;
}

.tab {
  /* position: fixed; */
  width:100%;
  height: 3rem;
  background-color: RGBA(250, 250, 250, 1);
  bottom: 0;
  font-size: 0;
  -webkit-transform: translateZ(0);
}

.tab > label {
  display: inline-block;
  position: relative;
  width: 25%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.tab .selected {
  display: none;
}

.tab input[type="radio"]:checked  + .tab label > i {
  display: none;
}

.tab input[type="radio"]:checked  + .tab label > .selected {
  display: inline;
}

.setting + label > i {
  color: gray;
}

.setting + label > .selected {
  color: black;
}

.tab input {
  display:none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

content {
  display: inline-block;
  height: calc(100vh - 6rem);
  width: 100%;
  margin-top: 3rem;
}


.page-friend,
.page-talk,
.page-star,
.page-setting {
  position: absolute;
  width: 100%;
  visibility: hidden;
  top: 3rem;
  transform : translateY(200vh);
}

.tab--friend:checked ~ .page-friend,
.tab--talk:checked ~ .page-talk,
.tab--star:checked ~ .page-star,
.tab--setting:checked ~ .page-setting {
  transform : translateY(-100vh);
  visibility: visible;
}

.tab--friend:checked ~ .page-friend > .friend-area,
.tab--talk:checked ~ .page-talk > .talk-area,
.tab--star:checked ~ .page-star > .star-area,
.tab--setting:checked ~ .page-setting > .setting-area{
  animation: .5s fadein;
}

.iphone--edge--left {
  position: absolute;
  width: 47px;
  height: 30px;
  visibility: hidden;
  background-image: url(./src/images/iphone-edge-left.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(45deg);
}
.iphone--edge--right {
  position: absolute;
  width: 47px;
  height: 30px;
  visibility: hidden;
  background-image: url(./src/images/iphone-edge-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-45deg);
}

@media (min-width: 480px) {
  body {
    justify-content: center;
    align-items: center;
  }
  .app {
    width: 299px;
    height: 626px;
    margin: 0 auto;
  }
  
  .tab {
    width: 299px;
    top: calc(50vh + 265px);
    bottom: unset;
  }

  .app:before {
    content: "";
    position: absolute;
    width: 423px;
    height: 718px;
    top: -4rem;
    left: -2.1rem;
    background-image: url(./src/images/iphone-front.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .iphone--edge--left {
    visibility: visible;
    bottom: -12px;
    left: -21px;
    z-index: 15;
  }
  .iphone--edge--right {
    visibility: visible;
    bottom: -9px;
    right: -21px;
    z-index: 15;
  }

  .tab--friend:checked ~ .page-friend,
  .tab--talk:checked ~ .page-talk,
  .tab--star:checked ~ .page-star,
  .tab--setting:checked ~ .page-setting {
    transform : translateY(-626px);
  }

  content {
    height: calc(626px - 6rem);
  }
}
