.me {
  display: flex;
}

.me i {
  position: relative;
  width: 4rem;
  height: 4rem;
  font-size: 1.4rem;
  color: rgba(174, 226, 219, 1.00);
}

.me i::before {
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  z-index: 15;
}
.me i::after {
  content: "";
  position: absolute;
  width: 3.6rem;
  height: 3.6rem;
  background-color: rgba(120, 196, 187, 1.00);
  border-radius: 1.4rem;
}

.me--data {
  margin: auto 0;
  padding-left: 0.4rem;
}

.me--photo {
  height: 3rem;
  width: 3rem;
}

.me--name {
  font-size: 1.2rem;
}

.me--talk-status {
  color: RGBA(180, 180, 180, 1);
  font-size: 0.7rem;
  padding-top: .3rem;
}

.user--photo {
  height: 2.4rem;
  width: 2.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: .9rem;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
}

.user {
  display: flex;
}

.user--data {
  flex: 1;
  padding-left: 1rem;
  margin: auto 0;
  font-size: 1rem;
}
.user--talk-status {
  font-size: .6rem;
  color: RGBA(180, 180, 180, 1);
  padding-top: .3rem;
}

.friend--list {
  height: 100%;
  overflow: scroll;
  padding: 0 1rem;
}
.friend--list > li {
  padding: 1rem 0;
}
.friend--list > li + li {
  border-top: 1px solid RGBA(235, 235, 235, 1);
}

.group--name {
  font-size: .8rem;
  color: RGBA(140, 140, 140, 1);
  padding-bottom: .3rem;
}

.group--list > li {
  padding: 0.6rem 0;
}
