.star-area {
  overflow: auto;
}

.star--content {
}

.star--content + .star--content {
  border-top: .6rem solid rgba(247, 247, 247, 1);
}
.star-top {
  width: 100%;
}

.star-contents {
  height: 100%;
}

.star--showall {
  float: right;
}

.star--content--name {
  font-size: 1rem;
  font-weight: 300;
  padding: .8rem;
}

.star--showall {
  font-size: .7rem;
  font-weight: 300;
}
.star--snacks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.star--snack {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  transform: translateX(10%);
}

.star--snack--image {
  width: inherit;
  border-radius: .8rem;
}

.star--snack--name {
  width: 85%;
  font-size: .8rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  padding: .2rem 0;
}

.star--recommend {
  padding: 0 .4rem;
}

.star--recommend + .star--recommend {
  padding-top: .2rem;
}

.star--recommend--image {
  width: 100%;
}

.star--stories {
  padding: 0 .4rem;
}

.star--stories > .star--story:first-child {
  border-top: 1px solid rgba(240, 240, 240, 1);
}

.star--story {
  display: flex;
  align-items: center;
  padding: .4rem 0;
  border-bottom: 1px solid rgba(240, 240, 240, 1);
}

.star--story--image {
  width: 38%;
}

.story--contents--main {
  height: fit-content;
  padding-left: .8rem;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
}

.story--contents--sub {
  font-size: .7rem;
  font-weight: 300;
}

.star--more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.star--more--plus {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid black;
  transform: translateY(-.1rem);
}

.star--more--text {
  font-size: 1rem;
  font-weight: 300;
  padding-left: .4rem;
}

.star--pops {
  padding: 0 .4rem;
  /* border-bottom: 1px solid rgba(240, 240, 240, 1); */
}

.star--pop {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star--pop + .star--pop {
  padding-top: .8rem;
}

.star--pops > .star--pop:last-child {
  padding-bottom: .3rem;
  border-bottom: 1px solid rgba(220, 220, 220, 1);
}

.star--pop--image {
  height: 4rem;
}

.story--pop--main {
  flex: 1;
  font-size: .8rem;
  font-weight: 300;
  line-height: 1.2;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.story--pop--sub {
  font-size: .6rem;
}

.story--pop--start {
  width: 5rem;
  font-size: .8rem;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: 300;
  padding: .5rem 0;
  border: 1px solid rgba(247, 247, 247, 1);
  border-radius: .3rem;
}

.pop--start--text::after {
  content: "▷";
}

.star--kokoa-go {
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0;
}

.star--kokoa-go--text {
  position: relative;
  margin-left: 1rem;
}

.star--kokoa-go--text::before {
  content: "";
  position: absolute;
  left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../../images/star/star_ufo.svg);
  background-repeat: no-repeat;
  transform: translateY(-25%);
}

.star--up {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: black;
  background-color: rgba(247, 247, 247, 1);
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.start--up--button {
  display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 1.6;
    background-color: rgba(230, 230, 230, 1);
    border-radius: 1.2rem;
}