.talk--list {
  height: 100%;
  overflow: scroll;
  padding: 0 1rem;
}

.talk {
  display: flex;
  padding: 1rem 0;
  text-decoration: none;
}


.talk--data {
  flex: 1;
  margin: auto 0;
  padding-left: 1rem;
}

.talk--photo {
  height: 3rem;
  width: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: 1.3rem;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
}

.talk--name {
  font-size: .8rem;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .1rem 0;
}

.talk--term {
  float: right;
  font-size: 0.8rem;
  color: RGBA(100, 100, 100, 1);
}

.talk--talk-status {
  color: RGBA(180, 180, 180, 1);
  font-size: 0.7rem;
  line-height: .9rem;
  padding-top: .3rem;
}


.open-talk {
  display: flex;
  padding: 1rem 0;
  text-decoration: none;
}


.open-talk--data {
  flex: 1;
  margin: auto 0;
  padding-left: 1rem;
}

.open-talk--photo {
  height: 3rem;
  width: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: 1.3rem;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
}

.open-talk--name {
  font-size: .8rem;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .1rem 0;
}

.open-talk--term {
  float: right;
  font-size: 0.8rem;
  color: RGBA(100, 100, 100, 1);
}

.open-talk--talk-status {
  color: RGBA(180, 180, 180, 1);
  font-size: 0.7rem;
  line-height: .9rem;
  padding-top: .3rem;
}


.open-talk--4photo {
  height: 3rem;
  width: 3rem;
}


.open-talk--4photo--piece {
  display: inline-block;
  height: 1.3rem;
  width: 1.3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: .5rem;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
}

.open-talk--4photo--piece:nth-child(even) {
  margin-left: 0.2rem;
}
.open-talk--4photo--piece:nth-child(1),
.open-talk--4photo--piece:nth-child(2) {
  margin-bottom: 0.2rem;
}

.skill-stack {
  position: relative;
  padding-top: 1rem;
}

.skill-stack--item {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: .8rem;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
}

.skill-stack--item--wrapper {
  display: inline-block;
}
.skill-stack--item--wrapper + .skill-stack--item--wrapper {
  margin-left: .8rem;
}

.skill-stack--item--info {
  position: absolute;
  width: 60vw;
  padding: .6rem;
  font-size: .7rem;
  top: 4rem;
  left: 0;
  line-height: 1rem;
  background-color: RGBA(255, 235,235, 1);
  border-radius: 1rem;
}