content {
  margin-top: -.2rem;
}

.page--chatting {
  position: absolute;
  width: inherit;
  background: rgba(189, 209, 220, 1);
  z-index: 10;
}

.chatting-header {
  width: inherit;
  background: transparent;
}

.header--back {
  width: 3rem;
  text-align: center;
  text-decoration: none;
  color: black;
  transform: scale(-1, 1);
  cursor: pointer;
}

.header--tabname {
  padding-left: 0 !important;
}

.messages {
  padding: 0.4rem;
  height: 100%;
  overflow: auto;
  font-size: 0;
}

.message {
  display: flex;
}

.message--ballon {
  display: flex;
}

.message + .message,
.message--ballon + .message,
.my-message + .message,
.my-message--ballon + .message,
.message + .my-message,
.message--ballon + .my-message .my-message + .my-message,
.my-message--ballon + .my-message {
  padding-top: 0.4rem;
}

.message + .message--ballon,
.message--ballon + .message--ballon,
.my-message + .message--ballon,
.my-message--ballon + .message--ballon,
.message + .my-message--ballon,
.message--ballon + .my-message--ballon,
.my-message + .my-message--ballon,
.my-message--ballon + .my-message--ballon {
  padding-top: 1rem;
}

.profile {
  height: 2.4rem;
  width: 2.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: 0.9rem;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.profile--none {
  height: 2.4rem;
  width: 2.4rem;
}

.name {
  font-size: 0.7rem;
}

.message--ballon .name {
  padding-bottom: 0.4rem;
}

.contents-area {
  flex: 1;
  padding-left: 0.8rem;
}

.contents {
  position: relative;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.6rem;
  max-width: calc(100% - 2.5rem);
  background-color: white;
  border-radius: 0.2rem;
  word-break: break-all;
  line-height: 1.3;
}

.message--ballon > .contents {
  position: relative;
  max-width: calc(100% - 2.5rem);
  font-size: 0.8rem;
  padding: 0.6rem;
  /* margin-top: 0.4rem; */
  background-color: white;
  border-radius: 0.2rem;
  word-break: break-all;
  line-height: 1.3;
}
.message--ballon .contents::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -0.5rem;
  top: 0.4rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid white;
  background-color: transparent;
}

.time {
  display: inline-block;
  position: absolute;
  right: -2.8rem;
  bottom: 0;
  font-size: 0.5rem;
}

.read-count {
  display: inline-block;
  position: absolute;
  right: -1rem;
  bottom: 1rem;
  color: rgba(255, 240, 59, 1);
  font-size: 0.5rem;
}

.my-message,
.my-message--ballon {
  padding-right: 0.4rem;
  text-align: right;
}

.my-message--contents {
  display: inline-block;
  position: relative;
  max-width: calc(100% - 2.5rem);
  font-size: 0.8rem;
  padding: 0.6rem;
  background-color: rgba(254, 228, 1, 1);
  border-radius: 0.2rem;
  word-break: break-all;
  line-height: 1.3;
  text-align: left;
}

.my-message--ballon .my-message--contents::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: -0.5rem;
  top: 0.4rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid rgba(254, 228, 1, 1);
  background-color: transparent;
}

.my-message--time {
  display: inline-block;
  position: absolute;
  left: -2.8rem;
  bottom: 0;
  font-size: 0.5rem;
}

.my-message--read-count {
  display: inline-block;
  position: absolute;
  left: -0.7rem;
  bottom: 1rem;
  color: rgba(255, 240, 59, 1);
  font-size: 0.5rem;
}

.input-bar {
  width: 100%;
  height: 3rem;
  background-color: white;
}

.input-bar--form {
  display: flex;
  height:100%;
}

.input-bar--insert-everything {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 100%;
  border: none;
  outline: none;
  color: rgba(124, 124, 124, 1);
  font-size: 1.5rem;
  background-color: transparent;
  text-align: center;
}

.input-bar--text {
  flex: 1;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 100;
}

.input-bar--emoticon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 100%;
  border: none;
  outline: none;
  color: rgba(124, 124, 124, 1);
  font-size: 1.5rem;
  background-color: transparent;
  text-align: center;
}

.input-bar--send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 100%;
  border: none;
  outline: none;
  color: rgba(61, 31, 31, 1);
  font-size: 1.5rem;
  background-color: rgba(254, 229, 0, 1);
  text-align: center;
}


.open-talk {
  display: flex;
  padding: 1rem 0;
}


.open-talk--data {
  flex: 1;
  margin: auto 0;
  padding-left: 1rem;
}

.open-talk--photo {
  height: 3rem;
  width: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: 1.3rem;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
}

.open-talk--name {
  font-size: .8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.open-talk--term {
  float: right;
  font-size: 0.8rem;
  color: RGBA(100, 100, 100, 1);
}

.open-talk--talk-status {
  color: RGBA(180, 180, 180, 1);
  font-size: 0.7rem;
  line-height: .9rem;
  padding-top: .3rem;
}


.open-talk--4photo {
  height: 3rem;
  width: 3rem;
}


.open-talk--4photo--piece {
  display: inline-block;
  height: 1.3rem;
  width: 1.3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: .5rem;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
}

.open-talk--4photo--piece:nth-child(even) {
  margin-left: 0.2rem;
}
.open-talk--4photo--piece:nth-child(1),
.open-talk--4photo--piece:nth-child(2) {
  margin-bottom: 0.2rem;
}

.link {
  position: relative;
  display: inline-block;
  font-size: 0.8rem;
  max-width: calc(100% - 2.5rem);
  background-color: white;
  border-radius: 0.2rem;
  word-break: break-all;
  line-height: 1.4;
}

.link--subject {
  font-size: 1rem;
}

.link--name {
  padding-top: .4rem;
  font-size: .8rem;
  color: gray;
}

.link--data {
  padding: 0.6rem;
}

.link--image {
  height: 6rem;
  font-size: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}